body {
    background-color: black;
}

.top-bar {
    background-color: greenyellow;
    border-radius: 8px;
    margin-right: 57px;
    margin-left: 57px;
    margin-top: 20px;
    display: flex;
    padding: 25px;
}

.top-bar img {
    width: 70px;
    height: 70px;
}

.top-bar p {
    font-size: 40px;
    font-family: "DM Sans", sans-serif;
    font-weight: bolder;
    margin-top: 18px;
    margin-left: 20px;
}

.task-bar {
    background-color: rgb(48, 45, 45);
    border-radius: 8px;
    margin-right: 257px;
    margin-left: 257px;
    margin-top: 20px;
    position: relative;
    min-height: 25vh;
    padding: 1rem;
}

.task-bar .task-bar-add p{
    padding-top: 20px;
    text-align: center;
    font-size: 26px;
    color:white;
    font-family: "DM Sans", sans-serif;
}

.task-bar .task-bar-input {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.task-bar .task-bar-input input {
    background-color: rgb(77, 77, 77);
    color: white;
    align-items: center;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
}

.task-bar .task-bar-input button{
    background-color: green;
    color: black;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    border-radius: 10px;
    justify-content: space-between;
    margin-left: 25px;
}

.task-bar .task-bar-input button:hover {
    background-color: red;
}

/* ate aqui oka*/

.task-bar .task-bar-edit {
    margin-top: 10px;
    align-items: center;
}


.task-bar-edit ul {
    margin-top: 30px;
    list-style-type: "📝 ";
    list-style-position: inside;
    color: white;
    font-size: 16px;
}

.task-bar-edit ul li {
    font-family: "DM Sans", sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    background-color: rgb(8, 59, 8);
    margin-left: 57px;
    margin-right: 57px;
    border-radius: 8px;
    padding: 10px; 
    display: flex;
    justify-content: space-between;
}


.task-bar-edit ul button {
    text-align: right;
    background-color: transparent;
    cursor: pointer;
    border: none;
    
}
